/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 600px;
  padding-top: 60px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10px;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 140%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  color: black;
}

.mySwiper.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  height: 70%;
  width: 100%;
}
.mySwiper2.swiper-slide img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.mySwiper3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* box-sizing: border-box; */
  margin-top: 62px;
}

.mySwiper3 .swiper-slide {
  width: 70px;
  height: 70px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  opacity: 0.3;
}

.mySwiper3 .swiper-slide-thumb-active {
  border-radius: 5px;
  opacity: 1;
  display: flex;
  justify-content: center;
}

.mySwiper4 {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
}

.mySwiper5 {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
}

.mySwiper4 .swiper-pagination {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0px auto;
  width: 50%;
  height: fit-content;
}
.swiper-pagination-bullet {
  color: #000;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #00c4b4;
}

.MuiAutocomplete-endAdornment {
  position: absolute;
  right: 0;
  top: calc(50% - 14px);
  display: none;
}
.MuiInputBase-root-MuiInput-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: black;
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.MuiAutocomplete-hasPopupIcon.css-eozd4h-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-eozd4h-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 30px;
  color: white;
  border-color: #00c4b4;
}
.MuiInput-root.Mui-focused:after {
  border-bottom: 2px solid #00c4b4;
  left: 0;
  bottom: -1px;
  content: "";
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.MuiInputBase-root-MuiInput-root.Mui-focused:after {
  border-bottom: 2px solid #00c4b4;
  left: 0;
  bottom: -1px;
  content: "";
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.MuiAutocomplete-root {
  width: 100%;
  border-bottom: 1px solid white;
}
